<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Layout :: link-css" ></th:block>
</head>
<body>
<th:block th:replace="Layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Trang chủ ứng dụng quản lí sách
            </a>
        </div>
    </nav>
</div>
<th:block th:replace="Layout :: footer"></th:block>
</body>
</html>